<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
	<item label="terminal"> <action name="Execute">
                <execute>alacritty</execute>	
	</action> </item>
	<item label="web"> <action name="Execute">
	    <execute>librewolf-bin</execute>
	</action> </item>
	<item label="obconf"> <action name="Execute">
	    <execute>obconf</execute>
	</action> </item>

	<separator />
   <menu id="2" label="editor">
            <item label="Vim"> <action name="Execute">
                <execute>alacritty -e vim</execute>
            </action> </item>
	    <item label="Emacs"> <action name="Execute">
	    	<execute>alacritty -e emacs</execute>
	    </action> </item>
            <item label="Xedit"> <action name="Execute">
                <execute>xedit</execute>
            </action> </item>
        </menu>
        <menu id="37" label="system">
            <menu id="36" label="settings">
                <item label="Xfontsel"> <action name="Execute">
                    <execute>xfontsel</execute>
                </action> </item>
                <item label="Xvidtune"> <action name="Execute">
                    <execute>xvidtune</execute>
                </action> </item>
            </menu>
            <item label="Xconsole"> <action name="Execute">
                <execute>xconsole</execute>
            </action> </item>
            <item label="Xload"> <action name="Execute">
                <execute>xload</execute>
            </action> </item>
        </menu>
        <menu id="38" label="utilities">
            <item label="Beforelight"> <action name="Execute">
                <execute>beforelight</execute>
            </action> </item>
            <item label="Editres"> <action name="Execute">
                <execute>editres</execute>
            </action> </item>
            <item label="Oclock"> <action name="Execute">
                <execute>oclock</execute>
            </action> </item>
            <item label="Viewres"> <action name="Execute">
                <execute>viewres</execute>
            </action> </item>
            <item label="Xclipboard"> <action name="Execute">
                <execute>xclipboard</execute>
            </action> </item>
            <item label="Xclock (analog)"> <action name="Execute">
                <execute>xclock -analog</execute>
            </action> </item>
            <item label="Xclock (digital)"> <action name="Execute">
                <execute>xclock -digital -update 1</execute>
            </action> </item>
            <item label="Xclock (digital)"> <action name="Execute">
                <execute>xclock -digital</execute>
            </action> </item>
            <item label="Xcutsel"> <action name="Execute">
                <execute>xcutsel</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xmag"> <action name="Execute">
                <execute>xmag</execute>
            </action> </item>
            <item label="Xman"> <action name="Execute">
                <execute>xman</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                <execute>xsetroot</execute>
            </action> </item>
        </menu>
	<menu id="50" label="audio">
	    <item label="pulsemixer"> <action name="Execute">
	        <execute>alacritty -e pulsemixer</execute>
	    </action> </item>
	    <item label="alsamixer"> <action name="Execute">
	    	<execute>alacritty -e alsamixer</execute>
	    </action> </item>
	</menu>
	<menu id="60" label="other">
	    <item label="plover"> <action name="Execute">
	        <execute>plover</execute>
	</action> </item>

	<menu id="160" label="jellyfin">
	    <item label="start"> <action name="Execute">
	    	<execute>alacritty -e sudo rc-service jellyfin start</execute>
	    </action> </item>
	    <item label="stop"> <action name="Execute">
	        <execute>alacritty -e sudo rc-service jellyfin stop</execute>
	    </action> </item>
	    <item label="restart"> <action name="Execute">
	    	<execute>alacritty -e sudo rc-service jellyfin restart</execute>
	    </action> </item>
	</menu>
	</menu>
        <separator/>
        <item label="reconfigure"> <action name="Reconfigure"/> </item>
        <item label="exit"> <action name="Exit"/> </item>
	<item label="shutdown"> <action name="Execute">
	    <execute>poweroff</execute>
	</action> </item>
	<item label="reboot"> <action name="Execute">
	    <execute>reboot</execute>
	</action> </item>
	
    </menu>
</openbox_menu>
